<style>
  * { font-family: Tahoma; }
</style>
<div align="center">
<h1> <%= @game.current_turn.name %> attacks <%= @game.defending_player.name %> </h1>
<h2> Used <%= @type %> and dealt <%= @game.defending_player.last_damamge %>HPs damage! </h2>
<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form>
</div>
