<style>
  * { font-family: Tahoma; }
</style>
<div align="center">
  <h2> Who's Playing? </h2>
  <form action="/single">
    <input type="submit" value="Single Player">
  </form>
  <form action="/multi">
    <input type="submit" value="Multi Player">
  </form>
</div>
