<style>
  * { font-family: Tahoma; }
</style>
<div align="center">
  <h1> <%= @game.defending_player.name %> is poisoned and loses <%= @game.defending_player.last_damamge %> HPs </h1>
  <form action="/switch-turns">
    <input type="submit" value="OK">
  </form>
</div>
