<style>
  * { font-family: Courier New; }
</style>
<div align="center">
  <% if @hp_high %>
  <h1> <%= @game.current_turn.name %> HPs are too high already!  </h1>
  <% else %>
  <h1> <%= @game.current_turn.name %> recovered by <%= @game.current_turn.last_damage * -1 %> HPs!  </h1>
  <% end %>
  <form action="/poison-check" method="post">
    <input type="submit" value="OK">
  </form>
</div>
