<style>
  * { font-family: Courier New; }
</style>
<div align="center">
  <% if @status == "asleep" %>
    <h1> <%= @game.current_turn.name %> is asleep and can't attack!  </h1>
  <% elsif @status == "paralysed" %>
    <h1> <%= @game.current_turn.name %> is paralysed and can't move!  </h1>
  <% end %>
    <form action="/poison-check" method="post">
      <input type="submit" value="OK">
    </form>
</div>
