a {
  border: solid 2px black;
  padding: 10px;
  border-radius: 8px;
  transition: background-color .2s;
  cursor: pointer;
}

a:hover {
background-color: lightgreen}

body {
  min-width:1000px;
  font-family: Courier
}

span{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.ok {
  display: inline;
}

#gp-text {
  display: inline;
}

#opponents-title {
  text-align: center;
}

#battle-div {
  text-align:center;
  min-width:1000px;
  height: 500px
}

.player-image-div {
  display:inline-block;
  height:500;
}

.player-image {
  height:400;
  width:400;
}

#attack-space {
  display:inline-block;
  width:20%;
}

.para-status {
  background-color: yellow;
  color: black;
}

.pois-status {
  background-color: purple;
  color: white;
}

.sleep-status {
  background-color: navy;
  color: white;
}

#gameplay-box {
  padding-top: 20px;
  height: 100px;
  text-align: center;
}

#poison {
  border: solid 2px purple;
}

#psychic {
  border: solid 2px navy;
}

#lightning {
  border: solid 2px yellow;
}

#heal {
  border: solid 2px lime;
}

#attack-img {
  width: 100%;
  padding-bottom: 150px;
}
